<ion-content class="ion-padding">
  <div class="pomodoro-container">
    <!-- App title -->
    <div class="app-title">
      <h1>flocus</h1>
      <p class="quote">"When you feel like quitting, think<br>about why you started"</p>
    </div>

    <!-- Current time display -->
    <div class="current-time">
      {{ currentTime }}
    </div>

    <!-- Timer circle -->
    <div class="timer-circle" [ngClass]="{
      'work': isWorkSession(),
      'break': isBreakSession(),
      'idle': !isRunning && timerState === 'idle'
    }">
      <div class="timer-display">
        {{ timerDisplay }}
      </div>
    </div>

    <!-- Control button with reset instead of pause -->
    <div class="control-button">
      <ion-button fill="clear" (click)="toggleTimer()">
        <ion-icon [name]="getButtonIcon()" size="large"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
